@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root {
  background-color: rgba(45, 45, 60, 255);
  padding: 0px;
  margin: 0px;
  scroll-behavior: smooth;
  color: white;
}

.App {
  font-family: 'Poppins', sans-serif;
  display: flex;
  flex-direction: row;
}