a {
    text-decoration: none;
    color: white;
}

.init-body {
    display: block;
    margin-top: 50vh;
    margin-left: 50vw;
    transform: translate(-50%, -50%);
}

.projects {
    position: absolute;
    top: 100vh;
    right: 0px;
    bottom: -100vh;
    left: 0px;
    background-color: rgba(79, 153, 248, 255);
}

.scroll-top {
    position: fixed;
    z-index: 10;
    bottom: 1rem;
    right: 1rem;
    padding: 0.5rem;
    border-radius: 50%;
    border: 1px groove rgb(61, 61, 61);
    background-color: rgba(45, 45, 60, 255);
}