ul {
    list-style: none;
    padding: 0;
}

#header {
    text-decoration: underline;
    text-align: start;
    padding-bottom: 0;
    font-size: 32px;
    color: white;
    padding: 1rem;
}

.header-a {
    text-decoration: none;
    color: white;
}

.nav-a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    margin: 3rem;
}

.side-nav {
    display: flex;
    flex-direction: column;

    position: absolute;

    text-align: center;
    margin-top: 1rem;
    width: 95vw;
    align-items: center;

    color: white;

    line-height: 3rem;
}

.nav-li:hover {
    background-color: rgba(68, 68, 90, 255);
    border-radius: 1rem;
    transition: 0.3s;
}

.nav-ul {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

@media (max-width: 1000px) {
    .nav-ul {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}